<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="First Suite" verbose="1">
	<test name="Firefoxtests">
		<parameter name="browser" value="firefox"/>
			<packages>
				<package name="com.CrossBrowserTesting.framework.*"/>
			</packages>
	</test>
	
	<test name="Chrometests">
		<parameter name="browser" value="chrome"/>
			<packages>
				<package name="com.CrossBrowserTesting.framework.*"/>
			</packages>
	</test>
</suite>